
<div class="page-header" filter-color="green">
    <div class="page-header-image" style="background-image:url(assets/img/bg7.jpg)"></div>
    <div class="container">
        <div class="col-md-8 content-center">
            <div class="card card-login card-plain">
                    <div class="header header-primary text-center">
                        <div class="photo-container">
                            <img src="assets/img/Menura.png" alt="Logo" style="height: 12em;">
                        </div>
                        <h1 class="title">Menura <br>
                            <div class="separator separator-primary"></div>
                            <div class="description"><i>Bird Tracker</i></div></h1>
                    </div>
            </div>
            <div id="carousel">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <ngb-carousel [showNavigationArrows]="false">
                                <ng-template ngbSlide>
                                    <img class="d-block" src="assets/img/birds/menure.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Menure Superbe, <i>Menura novaehollandiae</i></h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="assets/img/birds/moineau%20domestique.jpg" alt="Second slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Moineau Domestioque, <i>Passer domesticus</i></h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="assets/img/birds/mésange%20charbonnière.jpg" alt="Third slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Mésange Charbonnière, <i>Parus major</i></h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="assets/img/birds/bergeronnette%20grise.jpg" alt="Third slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Bergeronnette Grise, <i>Motacilla alba</i></h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="assets/img/birds/merle%20noir.jpg" alt="Third slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Merle Noir, <i>Turdus merula</i></h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="assets/img/birds/Rouge%20gorge%20familier.jpg" alt="Third slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Rouge-gorge Familier, <i>Erithacus rubecula</i></h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="assets/img/birds/pinson%20des%20arbres.jpg" alt="Third slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Pinson des arbres, <i>Fringilla coelebs</i></h5>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
