
<div class="page-header" filter-color="green">
    <div class="page-header-image" style="background-image:url(assets/img/bg7.jpg)"></div>
    <div class="container">
        <div class="col-md-8 content-center">
            <div class="card card-login card-plain">
                    <div class="header header-primary text-center">
                        <div class="photo-container">
                            <img src="assets/img/Menura.png" alt="Logo" style="height: 12em;">
                        </div>
                        <h1 class="title">Menura <br>
                            <div class="separator separator-primary"></div>
                            <div class="description"><i>Bird Tracker</i></div></h1>
                        <div class="separator separator-primary"></div>
                    </div>
            </div>
            <h5 class="title">
                Menura Bird Tracker est un projet lancé par 6 étudiants en informatique de l'EPHEC.<br>
                Il s'agit d'une application liée à un capteur qui permet le recensement des oiseaux de nos jardins.
                Dès que le capteur repère le chant d'un oiseau, celui-ci isole son spectre pour détecter de quel type oiseau il s'agit et envoie à notre base de données les informations de celui-ci.
                En téléchargeant l'application et en liant votre compte avec un capteur, vous pourrez profiter d'un historique, de conseils et de statistiques détaillées de vos recensements.
            </h5>
        </div>
    </div>
</div>

