<br>

<div class="plainText">

  <div>
    <h2>Description du projet:</h2>

    <!--
    <p class="text-center">
      Les Nations Unies ont en 2015 rédigé un rapport présentant les différents objectifs de développement durable qui constituent un plan d'action pour la paix, l'humanité, la planète et la prospérité. C'est dans ce cadre qu'un des grands objectifs est de préserver et restaurer les écosystèmes terrestres.
      Parmi l'ensemble de la biodiversité, l'avifaune est particulièrement menacée. En effet, en Wallonie, la tendance globale va vers une diminution des populations d'oiseaux communs avec une perte moyenne de 31% des effectifs entre 1990 et 2017 (etat.environnement.wallonie.be, Evolution des populations d'oiseaux communs, 2018).
<br>
      Afin que chacun puisse contribuer à la sauvegarde des oiseaux, nous proposons un outil simple et accessible à tous permettant de recenser les espèces réellement présentes dans son environnement proche et d'offrir les conseils nécessaires à la sauvegarde de ces espèces. Les données récoltées seront donc directement utiles à tout un chacun et pourront en même temps être fournies aux organisations de sauvegarde de la biodiversité afin d'améliorer les actions à grande échelle.
<br>
      Concrètement, il s'agit d'un boitier que l'on dépose à l'endroit souhaité et qui reconnaitra les espèces d'oiseaux présentes grâce à leur chant. Les données sont présentées de manière intuitives et éducatives sur une application mobile et via le web. En fonction des espèces détectées, des conseils seront affichés comme par exemple s'il est bon de les nourrir et comment, quelles plantations faut-il privilégier pour préserver leur habitat, ...
<br>
      Chaque petit geste compte, en plus d'aider au recensement en général, vous préserver les espèces qui vous entourent.Les Nations Unies ont en 2015 rédigé un rapport présentant les différents objectifs de développement durable qui constituent un plan d'action pour la paix, l'humanité, la planète et la prospérité. C'est dans ce cadre qu'un des grands objectifs est de préserver et restaurer les écosystèmes terrestres.
      Parmi l'ensemble de la biodiversité, l'avifaune est particulièrement menacée. En effet, en Wallonie, la tendance globale va vers une diminution des populations d'oiseaux communs avec une perte moyenne de 31% des effectifs entre 1990 et 2017 (etat.environnement.wallonie.be, Evolution des populations d'oiseaux communs, 2018).
<br>
      Afin que chacun puisse contribuer à la sauvegarde des oiseaux, nous proposons un outil simple et accessible à tous permettant de recenser les espèces réellement présentes dans son environnement proche et d'offrir les conseils nécessaires à la sauvegarde de ces espèces. Les données récoltées seront donc directement utiles à tout un chacun et pourront en même temps être fournies aux organisations de sauvegarde de la biodiversité afin d'améliorer les actions à grande échelle.
<br>
      Concrètement, il s'agit d'un boitier que l'on dépose à l'endroit souhaité et qui reconnaitra les espèces d'oiseaux présentes grâce à leur chant. Les données sont présentées de manière intuitives et éducatives sur une application mobile et via le web. En fonction des espèces détectées, des conseils seront affichés comme par exemple s'il est bon de les nourrir et comment, quelles plantations faut-il privilégier pour préserver leur habitat, ...
<br>
      Chaque petit geste compte, en plus d'aider au recensement en général, vous préserver les espèces qui vous entourent.Les Nations Unies ont en 2015 rédigé un rapport présentant les différents objectifs de développement durable qui constituent un plan d'action pour la paix, l'humanité, la planète et la prospérité. C'est dans ce cadre qu'un des grands objectifs est de préserver et restaurer les écosystèmes terrestres.
      Parmi l'ensemble de la biodiversité, l'avifaune est particulièrement menacée. En effet, en Wallonie, la tendance globale va vers une diminution des populations d'oiseaux communs avec une perte moyenne de 31% des effectifs entre 1990 et 2017 (etat.environnement.wallonie.be, Evolution des populations d'oiseaux communs, 2018).
<br>
      Afin que chacun puisse contribuer à la sauvegarde des oiseaux, nous proposons un outil simple et accessible à tous permettant de recenser les espèces réellement présentes dans son environnement proche et d'offrir les conseils nécessaires à la sauvegarde de ces espèces. Les données récoltées seront donc directement utiles à tout un chacun et pourront en même temps être fournies aux organisations de sauvegarde de la biodiversité afin d'améliorer les actions à grande échelle.
<br>
      Concrètement, il s'agit d'un boitier que l'on dépose à l'endroit souhaité et qui reconnaitra les espèces d'oiseaux présentes grâce à leur chant. Les données sont présentées de manière intuitives et éducatives sur une application mobile et via le web. En fonction des espèces détectées, des conseils seront affichés comme par exemple s'il est bon de les nourrir et comment, quelles plantations faut-il privilégier pour préserver leur habitat, ...
<br>
      Chaque petit geste compte, en plus d'aider au recensement en général, vous préserver les espèces qui vous entourent.Les Nations Unies ont en 2015 rédigé un rapport présentant les différents objectifs de développement durable qui constituent un plan d'action pour la paix, l'humanité, la planète et la prospérité. C'est dans ce cadre qu'un des grands objectifs est de préserver et restaurer les écosystèmes terrestres.
      Parmi l'ensemble de la biodiversité, l'avifaune est particulièrement menacée. En effet, en Wallonie, la tendance globale va vers une diminution des populations d'oiseaux communs avec une perte moyenne de 31% des effectifs entre 1990 et 2017 (etat.environnement.wallonie.be, Evolution des populations d'oiseaux communs, 2018).
<br>
      Afin que chacun puisse contribuer à la sauvegarde des oiseaux, nous proposons un outil simple et accessible à tous permettant de recenser les espèces réellement présentes dans son environnement proche et d'offrir les conseils nécessaires à la sauvegarde de ces espèces. Les données récoltées seront donc directement utiles à tout un chacun et pourront en même temps être fournies aux organisations de sauvegarde de la biodiversité afin d'améliorer les actions à grande échelle.
<br>
      Concrètement, il s'agit d'un boitier que l'on dépose à l'endroit souhaité et qui reconnaitra les espèces d'oiseaux présentes grâce à leur chant. Les données sont présentées de manière intuitives et éducatives sur une application mobile et via le web. En fonction des espèces détectées, des conseils seront affichés comme par exemple s'il est bon de les nourrir et comment, quelles plantations faut-il privilégier pour préserver leur habitat, ...
<br>
      Chaque petit geste compte, en plus d'aider au recensement en général, vous préserver les espèces qui vous entourent.
    </p>
  </div>
  -->

  <div>
    test 1
  </div>

  <h2>Ce projet a été réalisé par:</h2>

  <div class="list">

    <mat-list >
      <mat-list-item>
        <img matListAvatar src="../../../assets/img/guillaume.jpg">
        <p matLine> Guillaume Lemer</p>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="../../../assets/img/arnaud.jpg">
        <p matLine> Arnaud Nilens</p>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="../../../assets/img/amau.jpg">
        <p matLine> Amaury Crenier</p>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="../../../assets/img/greg.jpg">
        <p matLine> Grégoire Antoine</p>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="../../../assets/img/flo.jpg">
        <p matLine> Florent Janssens</p>
      </mat-list-item>
    </mat-list>

  </div>

</div>
