<div class="container">
    <div class="md-col-6 text-center">
        <div class="page">
            <div class="card">
                <div class="card-header">
                    <h2>{{ thread.content }}</h2>
                    <footer class="blockquote-footer">Posté par {{ thread.author.split('@')[0] }} le {{ thread.createdAt.toLocaleDateString('fr-FR', {day: 'numeric', month: 'long', year: 'numeric'}) }}.</footer>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li ng-repeat="post in posts" class="list-group-item">
                            <p class="mb-0 response" ng-bind="post.content"></p>
                            <footer class="blockquote-footer">Réponse de {{ post.author.split('@')[0] }} le {{ post.createdAt.toLocaleDateString('fr-FR', {day: 'numeric', month: 'long', year: 'numeric'}) }}.</footer>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-left">
                    <h4>Répondre</h4>
                    <form ng-submit="createPost(post)" class="text-center">
                        <textarea class="form-control" type="text" placeholder="Ecrivez votre réponse." ng-model="post.content"></textarea>
                        <button type="submit" class="btn btn-secondary">Poster</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
