<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
           <div ngbDropdownMenu>
             <a class="dropdown-header">Menu</a>
             <a class="dropdown-item" [routerLink]="['/home']">Acceuil</a>
             <a class="dropdown-item" [routerLink]="['/info']">A propos</a>
             <a class="dropdown-item" [routerLink]="['/stat']">Statistiques</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="https://menuraforum.eu.meteorapp.com/#/topics">Forum</a>
           </div>
         </div>
      </div>
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']">
                Menu
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="green">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link isDisabled" rel="tooltip" data-placement="bottom" [routerLink]="['/home']">
                    <p class="d-lg-none d-xl-none">Acceuil</p>
                </a>
            </li>
                <li class="nav-item">
                    <a class="nav-link isDisabled" rel="tooltip" data-placement="bottom" [routerLink]="['/info']">
                        <p class="d-lg-none d-xl-none">A propos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link isDisabled" rel="tooltip" data-placement="bottom" [routerLink]="['/stat']">
                        <p class="d-lg-none d-xl-none">Statistiques</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link isDisabled" rel="tooltip" data-placement="bottom" href="https://menuraforum.eu.meteorapp.com/#/topics" target="_blank">
                        <p class="d-lg-none d-xl-none">Forum</p>
                    </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Télécharger sur l'Apple Store" data-placement="bottom" href="https://mega.nz/file/sR5xmI6T#CaIXGXCmtJ_bfjuQqs7xJcme5EtPd_3Kc5lyk5Stz2E" target="_blank">
                    <i class="fab fa-apple"></i>
                    <p class="d-lg-none d-xl-none">Apple Store</p>
                </a>
            </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Télécharger sur le GooglePlay Store" data-placement="bottom" href="https://play.google.com/store/apps/details?id=com.menuratest" target="_blank">
                    <i class="fab fa-google-play"></i>
                    <p class="d-lg-none d-xl-none">Google Play</p>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
