<div class="wrapper">

    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Menura</h1>
            </div>
        </div>
    </div>

    <div class="section section-about-us">

        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Qui sommes-nous?</h2>
                    <h5 class="description">
                        Menura Bird Tracker est un projet lancé par 6 étudiants en informatique de l'EPHEC.
                        Il consiste en une application lié à un boitier qui permet découter en permanence ce qu'il se passe autour de lui.
                        Dès qu'il entend un oiseau, celui-ci isole son spectre pour détecter de quel type oiseau il s'agit.
                        Ce projet a autant un aspect ludique pour le client, qui peut savoir les oiseaux qui visitent son jardin, par exemple,
                        qu'un aspect écologique car il permet de recenser les oiseaux.
                    </h5>
                </div>
            </div>

            <div class="separator separator-primary"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-left">
                        <h2 class="title text-center">Technologies utilisées</h2>

                    </div>
                </div>
            </div>

            <div class="separator separator-primary"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-left">
                        <h2 class="title text-center">Avancement du projet</h2>
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Progression</span>
                            <ngb-progressbar [value]="60"><span class="progress-value">60%</span></ngb-progressbar><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="separator separator-primary"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img src="assets/img/bg6.jpg" class="d-block w-100" alt="0">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="assets/img/bg5.jpg-" class="d-block w-100" alt="1">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="assets/img/bg7.jpg" class="d-block w-100" alt="2">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section section-team text-center">

        <div class="container">
            <h2 class="title">Notre équipe</h2>
            <div class="team">
                <div class="row">

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/guillaume.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Guillaume Lemer</h4>
                            <p class="category text-primary">Développement Application et Python</p>
                            <div class="description">
                                <ul>
                                    <li>Développement de l'application.</li>
                                    <li>Développement du logiciel d'analyse de signaux.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/amau.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Aumaury Crenier</h4>
                            <p class="category text-primary">Développement Back-End</p>
                            <div class="description">
                                <ul>
                                    <li>Développement de la data base.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/arnaud.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Arnaud Nilens</h4>
                            <p class="category text-primary">Développement Front-End</p>
                            <div class="description">
                                <ul>
                                    <li>Développement du site vitrine.</li>
                                    <li>Gestion de l'intégration continue.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/flo.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Florent Janssens</h4>
                            <p class="category text-primary">Développement Application</p>
                            <div class="description">
                                <ul>
                                    <li>Développement de l'application.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/jean.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Jean Cornil</h4>
                            <p class="category text-primary">Développement Python</p>
                            <div class="description">
                                <ul>
                                    <li>Développement du logiciel d'analyse de signaux.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/greg.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Grégoire Antoine</h4>
                            <p class="category text-primary">Role</p>
                            <p class="description">Description</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <footer class="footer footer-default"></footer>

</div>
