<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Menura</h1>
                <div class="text-center">
                    <a href="" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-apple"></i>
                </a>
                  <a href='' class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-play"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Qui sommes-nous?</h2>
                    <h5 class="description">Menura est un projet lancé par 6 étudiants en informatique de l'EPHEC.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">
                                “Les exemples abondent de faune qui se reconstitue dès lors que nous laissons souffler le monde sauvage.”
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div>
                        <h3>Pourquoi recenser les oiseaux?</h3>
                        <p>
                            Cela permet de mieux comprendre les comportements des espèces et essayer de détecter les anomalies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Notre équipe</h2>
            <div class="team">
                <div class="row">

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/guillaume.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Guillaume Lemer</h4>
                            <p class="category text-primary">Role</p>
                            <p class="description">Description</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/amau.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Aumaury Crenier</h4>
                            <p class="category text-primary">Role</p>
                            <p class="description">Description</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/arnaud.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Arnaud Nilens</h4>
                            <p class="category text-primary">Role</p>
                            <p class="description">Description</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Notre équipe</h2>
            <div class="team">
                <div class="row">

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/flo.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Florent Janssens</h4>
                            <p class="category text-primary">Role</p>
                            <p class="description">Description</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/jean.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Jean Cornil</h4>
                            <p class="category text-primary">Role</p>
                            <p class="description">Description</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/greg.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Grégoire Antoine</h4>
                            <p class="category text-primary">Role</p>
                            <p class="description">Description</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
