<div class="wrapper">

    <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
    </div>

    <div class="section section-about-us">

        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Qui sommes-nous?</h2>
                    <h5 class="description">
                        Menura Bird Tracker est un projet lancé par 6 étudiants en informatique de l'EPHEC.
                        Il consiste en une application lié à un boitier qui permet découter en permanence ce qu'il se passe autour de lui.
                        Dès qu'il entend un oiseau, celui-ci isole son spectre pour détecter de quel type oiseau il s'agit.
                        Ce projet a autant un aspect ludique pour le client, qui peut savoir les oiseaux qui visitent son jardin, par exemple,
                        qu'un aspect écologique car il permet de recenser les oiseaux.
                    </h5>
                </div>
            </div>

            <div class="separator separator-primary"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title text-center">Technologies utilisées</h2>
                            <div class="hero-images-container">
                                <img src="assets/img/techno.png" alt="">
                            </div>
                    </div>

                </div>
            </div>

    <div class="separator-line separator-primary"></div>

    <div class="section section-team text-center">

        <div class="container">
            <h2 class="title">Notre équipe</h2>
            <div class="team">
                <div class="row">

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/guillaume.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Guillaume Lemer</h4>
                            <p class="category text-primary">Développement Application et Python</p>
                            <div class="description">
                                <ul>
                                    <li>Développement de l'application.</li>
                                    <li>Développement du logiciel d'analyse de signaux.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/amau.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Aumaury Crenier</h4>
                            <p class="category text-primary">Développement Back-End</p>
                            <div class="description">
                                <ul>
                                    <li>Développement de la data base.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/arnaud.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Arnaud Nilens</h4>
                            <p class="category text-primary">Développement Front-End</p>
                            <div class="description">
                                <ul>
                                    <li>Développement du site vitrine.</li>
                                    <li>Gestion de l'intégration continue.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/flo.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Florent Janssens</h4>
                            <p class="category text-primary">Développement Application</p>
                            <div class="description">
                                <ul>
                                    <li>Développement de l'application.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/jean.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Jean Cornil</h4>
                            <p class="category text-primary">Développement Python</p>
                            <div class="description">
                                <ul>
                                    <li>Développement du logiciel d'analyse de signaux.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/greg.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Grégoire Antoine</h4>
                            <p class="category text-primary">Role</p>
                            <p class="description">Description</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="separator separator-primary"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Liens utiles</h2>
                    <div class="list-group">
                        <ul>
                            <li>Github: <a href="https://github.com/Arylmera/Projet-Integration-App">https://github.com/Arylmera/Projet-Integration-App</a></li>
                            <li>Clockify: <a href="https://clockify.me/shared/5f6baa637484d0304bfb08e5">https://clockify.me/shared/5f6baa637484d0304bfb08e5</a></li>
                            <li>Trello: <a href="https://trello.com/b/cVyeFlzv/projet-dint%C3%A9gration-menura">https://trello.com/b/cVyeFlzv/projet-dint%C3%A9gration-menura</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
        </div>
    </div>
</div>
