<div class="wrapper">
    <div class="page-header" filter-color="green">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg11.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/Menura.png" alt="">
                </div>
                <h2 class="title">Statistiques</h2>
                <div class="content">
                    <div class="social-description">
                        <h2 id="dl"></h2>
                        <p>Téléchargements</p>
                    </div>
                    <div class="social-description">
                        <h2 id="birds"></h2>
                        <p>Oiseaux recensés</p>
                    </div>
                    <div class="social-description">
                        <h2 id="users"></h2>
                        <p>Utilisateurs</p>
                    </div>
                    <div class="separator-line separator-primary"></div>
                    <div class="text-left">
                        <h5 class="title text-center">Avancement du projet</h5>
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Progression</span>
                            <ngb-progressbar [value]="60"><span class="progress-value">60%</span></ngb-progressbar><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

